@import "../../node_modules/bootstrap/scss/bootstrap";

$body-bg: #000;
$body-color: #fff;

body {
  background-color: $body-bg;
  color: $body-color;
}


@import "../../node_modules/bootstrap/scss/bootstrap";