@import "../../node_modules/bootstrap/scss/bootstrap";

$body-bg: #000;
$body-color: #fff;

body {
  background-color: $body-bg;
  color: $body-color;
}

* {
  font-size: 100%;
  font-family: Roboto;
 }

@import "../../node_modules/bootstrap/scss/bootstrap";