.banner {
  padding-top: 15px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

/* AddUserForm.js */

.addUserForm {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 80px;
  right: 15px;
}

.addUserFormAllColor {
  color: black;
}

.addUserFormText {
  text-align: right;
  vertical-align: middle;
}

.addUserFormSumbitButton {
  display: flex;
  justify-content: flex-end;
}

/* Roster.js */

.rosterList {
  padding: 10px;
}

.rosterListCardTitle {
  text-align: center;
  font-size: 16pt;
  font-weight: bold;
}

.rosterListCard {
  width: 17rem;
  color: black;
}

.rosterListCardPosition {
  text-align: center;
}

.roster {
  padding-top: 10px;
  padding-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}